
{% extends 'base.html' %}
{% load static %}

{% block title %}Catálogo{% endblock %}


{% block content %}
<br>
<div class="container">
    <h1 class="text-center text-primary mb-4">Catálogo de Productos</h1>
    <div class="row">
        <!-- Sidebar Filtros -->
        <div class="col-md-3">
            <form method="get" class="border p-3 rounded bg-light">
                <h5 class="mb-3">Filtros</h5>

                <!-- Categorías -->
                <p class="fw-bold">Categoría</p>
                {% for valor, nombre in categorias_disponibles %}
                <div class="form-check">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        name="categoria"
                        value="{{ valor }}"
                        {% if valor in categorias_seleccionadas %}checked{% endif %}
                    >
                    <label class="form-check-label">{{ nombre }}</label>
                </div>
                {% endfor %}

                <hr>

                <!-- Precio -->
                <p class="fw-bold">Precio</p>
                <div class="mb-2">
                    <input type="number" name="min_precio" class="form-control" placeholder="Mínimo" value="{{ min_precio }}">
                </div>
                <div class="mb-3">
                    <input type="number" name="max_precio" class="form-control" placeholder="Máximo" value="{{ max_precio }}">
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Aplicar filtros</button>
                    <!-- Botón de limpiar: redirige a la URL del catálogo sin parámetros -->
                    <a href="{% url 'catalog' %}" class="btn btn-outline-secondary">Limpiar filtros</a>
                </div>
            </form>
            <br>
            <div class="d-grid gap-2">
                <a href="{% url 'export_catalog_pdf' %}" class="btn btn-danger">
                    📄 Exportar Catálogo en PDF
                </a>
            </div>
        </div>

        <!-- Productos -->
        <div class="col-md-9">
            <div class="row">
                {% for producto in productos %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="{{ producto.image_url }}" class="card-img-top" alt="{{ producto.nombre }}">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ producto.name }}</h5>
                            <p class="card-text">{{ producto.category }}</p>
                            {% comment %} <p class="fw-bold text-success mt-auto">S/. {{ producto.price }}</p> {% endcomment %}
                            {% if producto.final_price < producto.price %}
                                <p class="text-muted mb-0">
                                    <del>S/. {{ producto.price }}</del>
                                </p>
                                {% if producto.discount_percent > 0 %}
                                    <p class="fw-bold mb-0 text-danger">Descuento: {{ producto.discount_percent }}%</p>
                                {% endif %}
                                <p class="fw-bold text-success">
                                    S/. {{ producto.final_price }}
                                </p>
                                
                            {% else %}
                                <p class="fw-bold text-success">
                                    S/. {{ producto.price }}
                                </p>
                            {% endif %}
                            <div class="d-grid gap-2">
                                <a href="{% url 'product_detail' producto.slug %}" class="btn btn-outline-primary">
                                    Ver detalle
                                </a>

                                <form method="post" action="{% url 'add_to_cart' producto.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success w-100">
                                        <i class="bi bi-cart-plus"></i> Añadir al carrito
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p class="text-center">No se encontraron productos.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}